{{#if (equal background.type 'color') }}
  <dd data-id="{{ id }}" style="background-color: {{ background.color }}">
    <div style="background-color: {{ background.color }}"></div>
{{else }}
  <dd data-id="{{ id }}" style="background-image: url(/{{ background.thumb }}) cover fixed;">
    <div style="background: url(/{{ background.thumb }}) cover fixed;"></div>
{{/if }}
  <div>{{ title }}
    <i class="star-icon icon{{#if favorite }} starred{{/if }}"></i>
    {{#if recent }}<i class="x-icon icon"></i>{{/if }}
  </div>
</dd>